.contain{
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100% !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image:  linear-gradient(180deg, rgba(23,103,245, 0.7) 30%, rgba(34,145,227, 0)),
    linear-gradient(120deg, rgba(41,143,220, 0.8), rgba(34,175,240, 0.8) 40%),
    linear-gradient(230deg, rgba(25, 100, 240, 0.9) 35%, rgba(255,255,255,0) 30%),
    linear-gradient(-35deg, rgba(25, 90, 220, 0.5) 40%, rgba(255,255,255,0) 31%);
}

.box{
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100% !important;
  max-width: 100% !important;
}

.bx-no-pd{  
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

.bx-spd{  
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  padding: 8px !important;
  margin: 0px !important;
}

.red{
  color: red;
}
.dpo{
  color: orangered;
}
.white{
  color:white !important;
}
.bdr{
  border-radius: 10px;
}
.flez{
  display: flex;
  justify-content: center;
}

.label{
  font-size: large;
  font-weight: 600;
  padding-left: 2px;
  margin-bottom: 5px;     
}

.mm{
  margin: 10px 0px;
}

.mb{
  margin-bottom: 15px !important;
}
.pb{
  padding-bottom: 15px !important;
}

.med-font{
  font-size: medium;
  font-weight: 600;
}

input{
  border-radius: 10px;
  border: none;
  width: 100%;
}
input:focus{
  border: 0px;
}

textarea{
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 100%;
}
textarea:focus{
  border: 0px;
}
button{
  border: none;
  max-width: 200px;
  background: linear-gradient(to right, rgba(40,55,200, 0.9), rgba(40,65,200, 0.9), rgba(40,85,200, 0.9)),
  linear-gradient(to left, rgba(36, 22, 235, 0.9), rgba(40, 30, 175, 0.9));
}

.f-btn{
  width: 65% !important;
}
.no-dec{
  text-decoration: none !important;
}
.m-btn{
  border: none;
  padding: 5px 20px !important;
  color: white;
  background: linear-gradient(to right, rgba(40,55,200, 0.9), rgba(40,65,200, 0.9), rgba(40,85,200, 0.9)),
  linear-gradient(to left, rgba(36, 22, 235, 0.9), rgba(40, 30, 175, 0.9)); 
}

.nav{
  height: 60px;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0px;
  font-size: larger;
  font-weight: 700;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: linear-gradient(to right, rgba(40,55,200, 0.9), rgba(40,65,200, 0.9), rgba(40,85,200, 0.9)),
  linear-gradient(to left, rgba(36, 22, 235, 0.9), rgba(40, 30, 175, 0.9));
  ;
}
.right{
  text-align: right !important;
}
.left{
  text-align: left !important;
}

.th-c{
  color: rgba(40,55,200, 0.9);
}
table{
  border-collapse: collapse;
}

td, th {
  box-sizing: border-box;
  border-top: 1px solid #dddddd;
  padding: 8px 0px 8px 2px;
}

tr{
  width: 100%;
}
tr:nth-child(odd) {
  background-color: #f3f2f2;
}
tr:hover{
  background: #f1efef;
}


